<%- include('partials/_header'); %>

  <!--   <script
    type="text/javascript">window.setTimeout("document.getElementById('testoo').style.display='none';", 3000); </script> -->

  <script type="text/javascript">window.setTimeout(function () {
      $('#testoo').fadeOut('fast');
    }, 3000); </script>

  <body class="sub_page">
    <div class="hero_area">

      <div class="main slick_main">
      </div>
      <!-- header section strats -->
      <%- include('partials/_navigation'); %>
        <!-- end header section -->
    </div>


    <section class="about_section layout_padding">
      <div class="container">

        <div class="row">
          <div class="box">
            <div class="col-md-4">
              <div class="img-box b2" style="overflow:hidden;">
                <img src="images/a-2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="detail-box">
                <h2>
                  <%= user.firstname %> 's Dashboard
                </h2>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  There are many variations of
                  passages of Lorem Ipsum
                </p>

                <div style="display:flex; justify-content: end;" class="btn-box">
                  <a href="/upload-photo">
                    Add New Photo
                  </a>
                </div>
              </div>
            </div>
          </div>


          <% messages.forEach(function (message) { %>
            <div id="testoo" class="alert alert-success text-center" style="width: 100%;">
              <%= message %>
            </div>
            <% }) %>

        </div>
    </section>
    <!-- end about section -->

    <section class="news_section">
      <div class="container">
        <div class="row">


          <% for (let i=0; i < photos.length; i++) { %>
            <div class="col-md-6">
              <div class="box">

                <a href="/photos/<%= photos[i]._id %>">
                  <div class="img-box">
                    <img src="/images/n-1.jpg" alt="">
                    <div class="date">
                      <h5>
                        <%= photos[i].uploadedAt %>
                      </h5>
                    </div>
                  </div>
                </a>
                <div class="detail-box">
                  <h5>
                    <%= photos[i].name %>
                  </h5>
                  <p>
                    <%= photos[i].description %>
                  </p>
                </div>


              </div>
            </div>
            <% } %>

        </div>
      </div>
    </section>

    <!-- end news section -->

    <!-- info section -->

    <%- include('partials/_footer'); %>