<%- include('partials/_header'); %>

  <!--   <script
    type="text/javascript">window.setTimeout("document.getElementById('testoo').style.display='none';", 3000); </script> -->

  <script type="text/javascript">window.setTimeout(function () {
      $('#testoo').fadeOut('fast');
    }, 3000); </script>

  <body class="sub_page">
    <div class="hero_area">

      <div class="main slick_main">
      </div>
      <!-- header section strats -->
      <%- include('partials/_navigation'); %>
        <!-- end header section -->
    </div>


    <section class="about_section layout_padding">
      <div class="container">

        <div class="row">
          <div class="box">
            <div class="col-md-4">
              <div class="img-box b2" style="overflow:hidden;">
                <img src="images/a-2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="detail-box">
                <h2>
                  <%= user.firstname %> 's Dashboard
                </h2>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  There are many variations of
                  passages of Lorem Ipsum
                </p>

                <% if (!isProfile) { %>

                  <div style="display:flex; justify-content: end;" class="btn-box">
                    <a href="/upload-photo">
                      Add New Photo
                    </a>
                  </div>
                  <% } %>

              </div>
            </div>

          </div>


          <% messages.forEach(function (message) { %>
            <div id="testoo" class="alert alert-success text-center" style="width: 100%;">
              <%= message %>
            </div>
            <% }) %>

        </div>
        <% if (!isProfile) { %>
          <div class="row">
            <div class="col-md-12">
              <div class="profile-nav nav nav-tabs pt-2 mb-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#follower" role="tab"
                      aria-controls="profile" aria-selected="false">Followers: 10</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#following" role="tab"
                      aria-controls="contact" aria-selected="false">Following: 8</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="follower" role="tabpanel" aria-labelledby="profile-tab">
                  <ul>
                    <% for (let i=0; i < user.followers.length; i++) { %>
                      <li>
                        <%= user.followers[i].firstname %>
                      </li>
                      <% } %>
                  </ul>
                </div>
                <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="contact-tab">
                  <ul>
                    <% for (let i=0; i < user.followings.length; i++) { %>
                      <li>
                        <%= user.followings[i].firstname %>
                      </li>
                      <% } %>
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <% } %>

            <% if (isProfile) { %>
              <form method="POST" action="/dashboard/follow/<%= user._id %>">
                <button class="btn btn-sm btn-primary">
                  FOLLOW
                </button>
              </form>
              <form>
                <button class="btn btn-sm btn-warning">
                  UNFOLLOW
                </button>
              </form>
              <% } %>
    </section>
    <!-- end about section -->

    <section class="news_section">
      <div class="container">
        <div class="row">


          <% for (let i=0; i < photos.length; i++) { %>
            <div class="col-md-6">
              <div class="box">

                <a href="/photos/<%= photos[i]._id %>">
                  <div class="img-box">
                    <img src="/images/n-1.jpg" alt="">
                    <div class="date">
                      <h5>
                        <%= photos[i].uploadedAt %>
                      </h5>
                    </div>
                  </div>
                </a>
                <div class="detail-box">
                  <h5>
                    <%= photos[i].name %>
                  </h5>
                  <p>
                    <%= photos[i].description %>
                  </p>
                </div>


              </div>
            </div>
            <% } %>

        </div>
      </div>
    </section>

    <!-- end news section -->

    <!-- info section -->

    <%- include('partials/_footer'); %>