<%- include('partials/_header'); %>

  <body class="sub_page">
    <div class="hero_area">

      <div class="main slick_main">
      </div>
      <!-- header section strats -->
      <%- include('partials/_navigation'); %>
        <!-- end header section -->
    </div>


    <!-- contact section -->

    <section class="contact_section layout_padding">
      <div class="container ">
        <div class="">
          <h2 style="text-align:center;" class="">
            EDIT Photo
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset-md-2 col-md-8">
            <form action="/photos/<%= photo._id %>?_method=PUT" method="POST">
              <div>
                <input name="name" value="<%= photo.name %>" type="text" placeholder="Photo Name" />
              </div>
              <div>
                <input name="description" value="<%= photo.description %>" type="text" class="message-box"
                  placeholder="Photo Description" />
              </div>
              <div class="d-flex ">
                <button type="submit">
                  UPDATE PHOTO
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- end contact section -->

    <!-- info section -->
    <%- include('partials/_footer'); %>